workflows/clickup-to-github.json
{
  "name": "ClickUp → GitHub Sync",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "clickup-to-github",
        "options": {}
      },
      "name": "ClickUp Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body;\nconst event = body.event;\nconst taskId = body.task_id || (body.history_items && body.history_items[0] ? body.history_items[0].parent_id : null);\n\nconst historyItems = body.history_items || [];\nfor (const item of historyItems) {\n  if (item.comment && item.comment.text_content && item.comment.text_content.includes('[sync]')) {\n    return [];\n  }\n}\n\nlet action = 'unknown';\nif (event === 'taskCreated') action = 'created';\nelse if (event === 'taskUpdated') action = 'updated';\nelse if (event === 'taskStatusUpdated') action = 'status_changed';\nelse if (event === 'taskCommentPosted') action = 'comment';\nelse if (event === 'taskAssigneeUpdated') action = 'assignee_changed';\nelse return [];\n\nlet newStatus = null;\nlet oldStatus = null;\nfor (const item of historyItems) {\n  if (item.field === 'status') {\n    newStatus = item.after ? item.after.status : null;\n    oldStatus = item.before ? item.before.status : null;\n  }\n}\n\nlet commentText = '';\nfor (const item of historyItems) {\n  if (item.comment && item.comment.text_content) {\n    commentText = item.comment.text_content;\n  }\n}\n\nlet assigneeAddId = null;\nlet assigneeRemId = null;\nfor (const item of historyItems) {\n  if (item.field === 'assignee_add' && item.after) {\n    assigneeAddId = item.after.id;\n  }\n  if (item.field === 'assignee_rem' && item.before) {\n    assigneeRemId = item.before.id;\n  }\n}\n\nreturn [{ json: { event, action, taskId, newStatus, oldStatus, commentText, webhookId: body.webhook_id, assigneeAddId, assigneeRemId } }];\n"
      },
      "name": "Anti-Loop & Parse",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [480, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://api.clickup.com/api/v2/task/{{ $json.taskId }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "name": "Fetch Task",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [720, 300],
      "credentials": { "httpHeaderAuth": { "id": "ju5QMIyIYhk1qUcc", "name": "ClickUp API" } }
    },
    {
      "parameters": {
        "jsCode": "const task = $input.first().json;\nconst prevData = $('Anti-Loop & Parse').first().json;\n\nconst taskName = task.name || '';\nconst match = taskName.match(/^\\[([^#]+)#(\\d+)\\]/);\nif (!match) return [];\n\nconst repoShort = match[1];\nconst issueNumber = parseInt(match[2]);\n\nconst repoMap = {\n  'enterprise': 'electinfo/enterprise',\n  'siege_utilities': 'siege-analytics/siege_utilities',\n  'rundeck': 'electinfo/rundeck',\n  'ops': 'electinfo/ops',\n  'portainer': 'electinfo/portainer'\n};\n\nconst fullRepo = repoMap[repoShort] || null;\nif (!fullRepo) return [];\n\nreturn [{ json: { ...prevData, mapped: true, repoShort, fullRepo, issueNumber } }];\n"
      },
      "name": "Lookup Mapping",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [960, 300]
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ $json.action }}",
        "rules": {
          "rules": [
            { "value2": "status_changed" },
            { "value2": "comment" },
            { "value2": "assignee_changed" }
          ]
        }
      },
      "name": "Route by Action",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 2,
      "position": [1200, 300]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\n\nconst statusToLabel = {\n  'scoping': 'status:scoping',\n  'in design': 'status:in-design',\n  'ready for development': 'status:ready',\n  'in development': 'status:in-progress',\n  'in review': 'status:in-review',\n  'testing': 'status:testing'\n};\n\nconst closedStatuses = ['shipped', 'cancelled'];\nconst openStatuses = ['backlog', 'scoping', 'in design', 'ready for development', 'in development', 'in review', 'testing'];\n\nconst newStatus = data.newStatus ? data.newStatus.toLowerCase() : '';\nconst oldStatus = data.oldStatus ? data.oldStatus.toLowerCase() : '';\n\nlet githubAction = 'label';\nlet closeReason = null;\nlet newLabel = statusToLabel[newStatus] || null;\nlet oldLabel = statusToLabel[oldStatus] || null;\n\nif (closedStatuses.includes(newStatus)) {\n  githubAction = 'close';\n  closeReason = newStatus === 'cancelled' ? 'not_planned' : 'completed';\n} else if (closedStatuses.includes(oldStatus) && openStatuses.includes(newStatus)) {\n  githubAction = 'reopen';\n}\n\nreturn [{ json: { ...data, githubAction, closeReason, newLabel, oldLabel } }];\n"
      },
      "name": "Map Status",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1440, 200]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nif (!data.mapped || !data.fullRepo || !data.issueNumber) return [];\n\nlet body = {};\nif (data.githubAction === 'close') body = { state: 'closed', state_reason: data.closeReason || 'completed' };\nelse if (data.githubAction === 'reopen') body = { state: 'open' };\nelse body = null;\n\nreturn [{ json: { ...data, apiUrl: `https://api.github.com/repos/${data.fullRepo}/issues/${data.issueNumber}`, apiBody: body } }];\n"
      },
      "name": "Build GitHub Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1680, 140]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ $json.apiUrl }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.apiBody) }}",
        "options": {}
      },
      "name": "GitHub API Call",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1920, 140],
      "credentials": { "httpHeaderAuth": { "id": "SbQTxL2kanI77ymm", "name": "GitHub API" } }
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nif (!data.mapped || data.githubAction !== 'label' || !data.newLabel) return [];\nreturn [{ json: { fullRepo: data.fullRepo, issueNumber: data.issueNumber, addLabel: data.newLabel, removeLabel: data.oldLabel } }];\n"
      },
      "name": "Prepare Label Change",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1680, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.github.com/repos/{{ $json.fullRepo }}/issues/{{ $json.issueNumber }}/labels",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({labels: [$json.addLabel]}) }}",
        "options": {}
      },
      "name": "Add Label",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1920, 300],
      "credentials": { "httpHeaderAuth": { "id": "SbQTxL2kanI77ymm", "name": "GitHub API" } }
    },
    {
      "parameters": {
        "method": "DELETE",
        "url": "=https://api.github.com/repos/{{ $('Prepare Label Change').item.json.fullRepo }}/issues/{{ $('Prepare Label Change').item.json.issueNumber }}/labels/{{ encodeURIComponent($('Prepare Label Change').item.json.removeLabel) }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "name": "Remove Old Label",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2160, 300],
      "onError": "continueRegularOutput",
      "credentials": { "httpHeaderAuth": { "id": "SbQTxL2kanI77ymm", "name": "GitHub API" } }
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nif (!data.mapped || !data.fullRepo || !data.issueNumber) return [];\n\nconst commentBody = `[sync] Synced from ClickUp:\\n\\n${data.commentText}`;\nreturn [{ json: { fullRepo: data.fullRepo, issueNumber: data.issueNumber, commentBody } }];\n"
      },
      "name": "Prepare Comment",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1440, 440]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.github.com/repos/{{ $json.fullRepo }}/issues/{{ $json.issueNumber }}/comments",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({body: $json.commentBody}) }}",
        "options": {}
      },
      "name": "Post GitHub Comment",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1680, 440],
      "credentials": { "httpHeaderAuth": { "id": "SbQTxL2kanI77ymm", "name": "GitHub API" } }
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nif (!data.mapped || !data.fullRepo || !data.issueNumber) return [];\n\nconst clickupToGhUser = {\n  '95317754': 'dheerajchand',\n  '192189161': 'steveblackmon'\n};\n\nlet githubLogin = null;\nlet assigneeAction = null;\n\nif (data.assigneeAddId) {\n  githubLogin = clickupToGhUser[String(data.assigneeAddId)];\n  assigneeAction = 'add';\n}\nif (data.assigneeRemId) {\n  githubLogin = clickupToGhUser[String(data.assigneeRemId)];\n  assigneeAction = 'remove';\n}\n\nif (!githubLogin || !assigneeAction) return [];\n\nreturn [{ json: {\n  fullRepo: data.fullRepo,\n  issueNumber: data.issueNumber,\n  githubLogin: githubLogin,\n  assigneeAction: assigneeAction\n}}];\n"
      },
      "name": "Map Assignee",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1440, 520]
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ $json.assigneeAction }}",
        "rules": {
          "rules": [
            { "value2": "add", "output": 0 },
            { "value2": "remove", "output": 1 }
          ]
        }
      },
      "name": "Route Assignee Action",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 2,
      "position": [1680, 520]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.github.com/repos/{{ $('Map Assignee').item.json.fullRepo }}/issues/{{ $('Map Assignee').item.json.issueNumber }}/assignees",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({assignees: [$('Map Assignee').item.json.githubLogin]}) }}",
        "options": {}
      },
      "name": "Add GitHub Assignee",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1920, 480],
      "credentials": { "httpHeaderAuth": { "id": "SbQTxL2kanI77ymm", "name": "GitHub API" } }
    },
    {
      "parameters": {
        "method": "DELETE",
        "url": "=https://api.github.com/repos/{{ $('Map Assignee').item.json.fullRepo }}/issues/{{ $('Map Assignee').item.json.issueNumber }}/assignees",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({assignees: [$('Map Assignee').item.json.githubLogin]}) }}",
        "options": {}
      },
      "name": "Remove GitHub Assignee",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1920, 580],
      "credentials": { "httpHeaderAuth": { "id": "SbQTxL2kanI77ymm", "name": "GitHub API" } }
    }
  ],
  "connections": {
    "ClickUp Webhook": {
      "main": [[{ "node": "Anti-Loop & Parse", "type": "main", "index": 0 }]]
    },
    "Anti-Loop & Parse": {
      "main": [[{ "node": "Fetch Task", "type": "main", "index": 0 }]]
    },
    "Fetch Task": {
      "main": [[{ "node": "Lookup Mapping", "type": "main", "index": 0 }]]
    },
    "Lookup Mapping": {
      "main": [[{ "node": "Route by Action", "type": "main", "index": 0 }]]
    },
    "Route by Action": {
      "main": [
        [{ "node": "Map Status", "type": "main", "index": 0 }],
        [{ "node": "Prepare Comment", "type": "main", "index": 0 }],
        [{ "node": "Map Assignee", "type": "main", "index": 0 }]
      ]
    },
    "Map Status": {
      "main": [[{ "node": "Build GitHub Request", "type": "main", "index": 0 }, { "node": "Prepare Label Change", "type": "main", "index": 0 }]]
    },
    "Build GitHub Request": {
      "main": [[{ "node": "GitHub API Call", "type": "main", "index": 0 }]]
    },
    "Prepare Label Change": {
      "main": [[{ "node": "Add Label", "type": "main", "index": 0 }]]
    },
    "Add Label": {
      "main": [[{ "node": "Remove Old Label", "type": "main", "index": 0 }]]
    },
    "Prepare Comment": {
      "main": [[{ "node": "Post GitHub Comment", "type": "main", "index": 0 }]]
    },
    "Map Assignee": {
      "main": [[{ "node": "Route Assignee Action", "type": "main", "index": 0 }]]
    },
    "Route Assignee Action": {
      "main": [
        [{ "node": "Add GitHub Assignee", "type": "main", "index": 0 }],
        [{ "node": "Remove GitHub Assignee", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": { "executionOrder": "v1" },
  "meta": { "templateCredsSetupCompleted": true }
}
