workflows/github-to-clickup.json
{
  "name": "GitHub \u2192 ClickUp Sync",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "github-to-clickup",
        "options": {}
      },
      "name": "GitHub Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body;\nconst action = body.action;\n\nconst issue = body.issue || {};\nconst comment = body.comment || {};\n\nconst title = issue.title || '';\nconst issueBody = issue.body || '';\nconst commentBody = comment.body || '';\n\nif (title.includes('[sync]') || issueBody.includes('[sync]') || commentBody.includes('[sync]')) {\n  return [];\n}\n\nconst repo = body.repository ? body.repository.full_name : 'unknown';\nconst repoShort = body.repository ? body.repository.name : 'unknown';\n\nconst listMap = {\n  'enterprise': '901710789803',\n  'siege_utilities': '901710789806',\n  'rundeck': '901710789808',\n  'ops': '901710789809',\n  'portainer': '901710789810'\n};\n\nconst masterListId = '901710789811';\nconst repoListId = listMap[repoShort] || null;\nif (!repoListId) return [];\n\nconst assignee = body.assignee || {};\nconst currentAssignees = (issue.assignees || []).map(a => a.login);\n\nreturn [{\n  json: {\n    action, repo, repoShort, repoListId, masterListId,\n    issueNumber: issue.number,\n    issueTitle: issue.title,\n    issueBody: issue.body || '',\n    issueState: issue.state,\n    issueUrl: issue.html_url,\n    issueLabels: (issue.labels || []).map(l => l.name),\n    commentBody: comment.body || '',\n    commentUser: comment.user ? comment.user.login : '',\n    senderLogin: body.sender ? body.sender.login : '',\n    assigneeLogin: assignee.login || '',\n    currentAssignees: currentAssignees\n  }\n}];\n"
      },
      "name": "Anti-Loop & Parse",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [420, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://api.clickup.com/api/v2/list/{{ $('Anti-Loop & Parse').item.json.repoListId }}/task?page=0&include_closed=true",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "name": "Fetch Repo P0",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [560, 300],
      "credentials": { "httpHeaderAuth": { "id": "ju5QMIyIYhk1qUcc", "name": "ClickUp API" } }
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://api.clickup.com/api/v2/list/{{ $('Anti-Loop & Parse').item.json.repoListId }}/task?page=1&include_closed=true",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "name": "Fetch Repo P1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 300],
      "credentials": { "httpHeaderAuth": { "id": "ju5QMIyIYhk1qUcc", "name": "ClickUp API" } }
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://api.clickup.com/api/v2/list/901710789811/task?page=0&include_closed=true",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "name": "Fetch Master P0",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [800, 300],
      "credentials": { "httpHeaderAuth": { "id": "ju5QMIyIYhk1qUcc", "name": "ClickUp API" } }
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://api.clickup.com/api/v2/list/901710789811/task?page=1&include_closed=true",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "name": "Fetch Master P1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [920, 300],
      "credentials": { "httpHeaderAuth": { "id": "ju5QMIyIYhk1qUcc", "name": "ClickUp API" } }
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://api.clickup.com/api/v2/list/901710789811/task?page=2&include_closed=true",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "name": "Fetch Master P2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1040, 300],
      "credentials": { "httpHeaderAuth": { "id": "ju5QMIyIYhk1qUcc", "name": "ClickUp API" } }
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://api.clickup.com/api/v2/list/901710789811/task?page=3&include_closed=true",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "name": "Fetch Master P3",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1160, 300],
      "credentials": { "httpHeaderAuth": { "id": "ju5QMIyIYhk1qUcc", "name": "ClickUp API" } }
    },
    {
      "parameters": {
        "jsCode": "const data = $('Anti-Loop & Parse').first().json;\nconst repoTasks = [\n  ...($('Fetch Repo P0').first().json.tasks || []),\n  ...($('Fetch Repo P1').first().json.tasks || [])\n];\nconst masterTasks = [\n  ...($('Fetch Master P0').first().json.tasks || []),\n  ...($('Fetch Master P1').first().json.tasks || []),\n  ...($('Fetch Master P2').first().json.tasks || []),\n  ...($('Fetch Master P3').first().json.tasks || [])\n];\n\nconst namePrefix = `[${data.repoShort}#${data.issueNumber}]`;\nlet repoTaskId = null;\nlet masterTaskId = null;\n\nfor (const t of repoTasks) {\n  if (t.name && t.name.startsWith(namePrefix)) {\n    repoTaskId = t.id;\n    break;\n  }\n}\nfor (const t of masterTasks) {\n  if (t.name && t.name.startsWith(namePrefix)) {\n    masterTaskId = t.id;\n    break;\n  }\n}\n\nreturn [{ json: { ...data, repoTaskId, masterTaskId } }];\n"
      },
      "name": "Resolve Task IDs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1280, 300]
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ $json.action }}",
        "rules": {
          "rules": [
            { "value2": "opened" },
            { "value2": "closed" },
            { "value2": "reopened" },
            { "value2": "labeled" },
            { "value2": "unlabeled" },
            { "value2": "created" },
            { "value2": "assigned" },
            { "value2": "unassigned" }
          ]
        }
      },
      "name": "Route by Action",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 2,
      "position": [1460, 300]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\n\nif (data.repoTaskId) return [];\n\nconst ghToClickupUser = {\n  'dheerajchand': 95317754,\n  'steveblackmon': 192189161\n};\nconst assigneeIds = (data.currentAssignees || [])\n  .map(login => ghToClickupUser[login])\n  .filter(id => id !== undefined);\n\nreturn [{\n  json: {\n    ...data,\n    taskName: `[${data.repoShort}#${data.issueNumber}] ${data.issueTitle}`,\n    taskDescription: `[sync] Synced from GitHub: ${data.issueUrl}\\n\\n${data.issueBody}`,\n    tags: data.issueLabels,\n    assigneeIds: assigneeIds\n  }\n}];\n"
      },
      "name": "Prepare Create",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1800, 60]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.clickup.com/api/v2/list/{{ $json.repoListId }}/task",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({name: $json.taskName, description: $json.taskDescription, tags: $json.tags, status: 'backlog', assignees: $json.assigneeIds}) }}",
        "options": {}
      },
      "name": "Create Repo Task",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2040, 0],
      "credentials": { "httpHeaderAuth": { "id": "ju5QMIyIYhk1qUcc", "name": "ClickUp API" } }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.clickup.com/api/v2/list/{{ $('Prepare Create').item.json.masterListId }}/task",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({name: $('Prepare Create').item.json.taskName, description: $('Prepare Create').item.json.taskDescription, tags: $('Prepare Create').item.json.tags, status: 'backlog', assignees: $('Prepare Create').item.json.assigneeIds}) }}",
        "options": {}
      },
      "name": "Create Master Task",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2280, 0],
      "credentials": { "httpHeaderAuth": { "id": "ju5QMIyIYhk1qUcc", "name": "ClickUp API" } }
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nif (!data.repoTaskId) return [];\nreturn [{ json: { repoTaskId: data.repoTaskId, masterTaskId: data.masterTaskId, status: 'shipped' } }];\n"
      },
      "name": "Prepare Close",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1800, 260]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://api.clickup.com/api/v2/task/{{ $json.repoTaskId }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({status: $json.status}) }}",
        "options": {}
      },
      "name": "Close Repo Task",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2040, 240],
      "credentials": { "httpHeaderAuth": { "id": "ju5QMIyIYhk1qUcc", "name": "ClickUp API" } }
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://api.clickup.com/api/v2/task/{{ $('Prepare Close').item.json.masterTaskId }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({status: $('Prepare Close').item.json.status}) }}",
        "options": {}
      },
      "name": "Close Master Task",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2280, 260],
      "credentials": { "httpHeaderAuth": { "id": "ju5QMIyIYhk1qUcc", "name": "ClickUp API" } }
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nif (!data.repoTaskId) return [];\nreturn [{ json: { repoTaskId: data.repoTaskId, masterTaskId: data.masterTaskId, status: 'backlog' } }];\n"
      },
      "name": "Prepare Reopen",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1800, 440]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://api.clickup.com/api/v2/task/{{ $json.repoTaskId }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({status: $json.status}) }}",
        "options": {}
      },
      "name": "Reopen Repo Task",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2040, 420],
      "credentials": { "httpHeaderAuth": { "id": "ju5QMIyIYhk1qUcc", "name": "ClickUp API" } }
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://api.clickup.com/api/v2/task/{{ $('Prepare Reopen').item.json.masterTaskId }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({status: $('Prepare Reopen').item.json.status}) }}",
        "options": {}
      },
      "name": "Reopen Master Task",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2280, 440],
      "credentials": { "httpHeaderAuth": { "id": "ju5QMIyIYhk1qUcc", "name": "ClickUp API" } }
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nif (!data.repoTaskId) return [];\n\nconst labelToStatus = {\n  'status:scoping': 'scoping',\n  'status:in-design': 'in design',\n  'status:ready': 'ready for development',\n  'status:in-progress': 'in development',\n  'status:in-review': 'in review',\n  'status:testing': 'testing'\n};\n\nconst statusLabels = data.issueLabels.filter(l => l.startsWith('status:'));\nlet clickupStatus = 'backlog';\nif (statusLabels.length > 0) {\n  clickupStatus = labelToStatus[statusLabels[statusLabels.length - 1]] || 'backlog';\n}\n\nreturn [{ json: { repoTaskId: data.repoTaskId, masterTaskId: data.masterTaskId, status: clickupStatus } }];\n"
      },
      "name": "Prepare Label Update",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1800, 620]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://api.clickup.com/api/v2/task/{{ $json.repoTaskId }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({status: $json.status}) }}",
        "options": {}
      },
      "name": "Update Repo Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2040, 600],
      "credentials": { "httpHeaderAuth": { "id": "ju5QMIyIYhk1qUcc", "name": "ClickUp API" } }
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://api.clickup.com/api/v2/task/{{ $('Prepare Label Update').item.json.masterTaskId }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({status: $('Prepare Label Update').item.json.status}) }}",
        "options": {}
      },
      "name": "Update Master Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2280, 620],
      "credentials": { "httpHeaderAuth": { "id": "ju5QMIyIYhk1qUcc", "name": "ClickUp API" } }
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nif (!data.repoTaskId) return [];\n\nconst commentText = `[sync] Synced from GitHub (${data.commentUser}):\\n\\n${data.commentBody}`;\nreturn [{ json: { repoTaskId: data.repoTaskId, masterTaskId: data.masterTaskId, commentText } }];\n"
      },
      "name": "Prepare Comment",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1800, 800]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.clickup.com/api/v2/task/{{ $json.repoTaskId }}/comment",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({comment_text: $json.commentText}) }}",
        "options": {}
      },
      "name": "Comment Repo Task",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2040, 780],
      "credentials": { "httpHeaderAuth": { "id": "ju5QMIyIYhk1qUcc", "name": "ClickUp API" } }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.clickup.com/api/v2/task/{{ $('Prepare Comment').item.json.masterTaskId }}/comment",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({comment_text: $('Prepare Comment').item.json.commentText}) }}",
        "options": {}
      },
      "name": "Comment Master Task",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2280, 800],
      "credentials": { "httpHeaderAuth": { "id": "ju5QMIyIYhk1qUcc", "name": "ClickUp API" } }
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nif (!data.repoTaskId) return [];\n\nconst ghToClickupUser = {\n  'dheerajchand': 95317754,\n  'steveblackmon': 192189161\n};\n\nconst clickupUserId = ghToClickupUser[data.assigneeLogin];\nif (!clickupUserId) return [];\n\nlet assigneePayload;\nif (data.action === 'assigned') {\n  assigneePayload = { assignees: { add: [clickupUserId], rem: [] } };\n} else {\n  assigneePayload = { assignees: { add: [], rem: [clickupUserId] } };\n}\n\nreturn [{\n  json: {\n    repoTaskId: data.repoTaskId,\n    masterTaskId: data.masterTaskId,\n    assigneePayload: assigneePayload\n  }\n}];\n"
      },
      "name": "Prepare Assignee Update",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1800, 980]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://api.clickup.com/api/v2/task/{{ $json.repoTaskId }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.assigneePayload) }}",
        "options": {}
      },
      "name": "Update Repo Assignees",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2040, 960],
      "credentials": { "httpHeaderAuth": { "id": "ju5QMIyIYhk1qUcc", "name": "ClickUp API" } }
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://api.clickup.com/api/v2/task/{{ $('Prepare Assignee Update').item.json.masterTaskId }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($('Prepare Assignee Update').item.json.assigneePayload) }}",
        "options": {}
      },
      "name": "Update Master Assignees",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2280, 980],
      "credentials": { "httpHeaderAuth": { "id": "ju5QMIyIYhk1qUcc", "name": "ClickUp API" } }
    }
  ],
  "connections": {
    "GitHub Webhook": {
      "main": [[{ "node": "Anti-Loop & Parse", "type": "main", "index": 0 }]]
    },
    "Anti-Loop & Parse": {
      "main": [[{ "node": "Fetch Repo P0", "type": "main", "index": 0 }]]
    },
    "Fetch Repo P0": {
      "main": [[{ "node": "Fetch Repo P1", "type": "main", "index": 0 }]]
    },
    "Fetch Repo P1": {
      "main": [[{ "node": "Fetch Master P0", "type": "main", "index": 0 }]]
    },
    "Fetch Master P0": {
      "main": [[{ "node": "Fetch Master P1", "type": "main", "index": 0 }]]
    },
    "Fetch Master P1": {
      "main": [[{ "node": "Fetch Master P2", "type": "main", "index": 0 }]]
    },
    "Fetch Master P2": {
      "main": [[{ "node": "Fetch Master P3", "type": "main", "index": 0 }]]
    },
    "Fetch Master P3": {
      "main": [[{ "node": "Resolve Task IDs", "type": "main", "index": 0 }]]
    },
    "Resolve Task IDs": {
      "main": [[{ "node": "Route by Action", "type": "main", "index": 0 }]]
    },
    "Route by Action": {
      "main": [
        [{ "node": "Prepare Create", "type": "main", "index": 0 }],
        [{ "node": "Prepare Close", "type": "main", "index": 0 }],
        [{ "node": "Prepare Reopen", "type": "main", "index": 0 }],
        [{ "node": "Prepare Label Update", "type": "main", "index": 0 }],
        [{ "node": "Prepare Label Update", "type": "main", "index": 0 }],
        [{ "node": "Prepare Comment", "type": "main", "index": 0 }],
        [{ "node": "Prepare Assignee Update", "type": "main", "index": 0 }],
        [{ "node": "Prepare Assignee Update", "type": "main", "index": 0 }]
      ]
    },
    "Prepare Create": {
      "main": [[{ "node": "Create Repo Task", "type": "main", "index": 0 }]]
    },
    "Create Repo Task": {
      "main": [[{ "node": "Create Master Task", "type": "main", "index": 0 }]]
    },
    "Prepare Close": {
      "main": [[{ "node": "Close Repo Task", "type": "main", "index": 0 }]]
    },
    "Close Repo Task": {
      "main": [[{ "node": "Close Master Task", "type": "main", "index": 0 }]]
    },
    "Prepare Reopen": {
      "main": [[{ "node": "Reopen Repo Task", "type": "main", "index": 0 }]]
    },
    "Reopen Repo Task": {
      "main": [[{ "node": "Reopen Master Task", "type": "main", "index": 0 }]]
    },
    "Prepare Label Update": {
      "main": [[{ "node": "Update Repo Status", "type": "main", "index": 0 }]]
    },
    "Update Repo Status": {
      "main": [[{ "node": "Update Master Status", "type": "main", "index": 0 }]]
    },
    "Prepare Comment": {
      "main": [[{ "node": "Comment Repo Task", "type": "main", "index": 0 }]]
    },
    "Comment Repo Task": {
      "main": [[{ "node": "Comment Master Task", "type": "main", "index": 0 }]]
    },
    "Prepare Assignee Update": {
      "main": [[{ "node": "Update Repo Assignees", "type": "main", "index": 0 }]]
    },
    "Update Repo Assignees": {
      "main": [[{ "node": "Update Master Assignees", "type": "main", "index": 0 }]]
    }
  },
  "settings": { "executionOrder": "v1" },
  "meta": { "templateCredsSetupCompleted": true }
}
