workflows/meet-standup-to-clickup.json
{
  "name": "Google Meet Standup \u2192 ClickUp Docs",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1OFRQrDFm1buSwdh2IX_YbkWAaWfge4bk",
          "mode": "id"
        },
        "event": "fileCreated",
        "options": {}
      },
      "name": "Watch Meet Notes Folder",
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -80,
        -16
      ],
      "id": "ad0813fd-752f-4786-9955-c85434a01762",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "DcyYgvJSe1pXI1dw",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.mimeType }}",
              "value2": "application/vnd.google-apps.document"
            },
            {
              "value1": "={{ $json.name }}",
              "operation": "contains",
              "value2": "Daily Standup and Checkin"
            }
          ]
        }
      },
      "name": "Is Standup Doc?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        144,
        -16
      ],
      "id": "a4c69eca-9ec7-4da8-bb2f-b1c3a80b36b4"
    },
    {
      "parameters": {
        "url": "=https://www.googleapis.com/drive/v3/files/{{ $json.id }}/export?mimeType=text%2Fplain",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleDriveOAuth2Api",
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      },
      "name": "Export Doc as Text",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        368,
        -16
      ],
      "id": "3d1a256a-db51-42ef-a859-2fd6f34b066b",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "DcyYgvJSe1pXI1dw",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Get file metadata from the trigger node\nconst trigger = $('Watch Meet Notes Folder').first().json;\nconst exportData = $input.first().json;\n\n// Extract plain text content from the export response\nconst textContent = typeof exportData === 'string'\n  ? exportData\n  : (exportData.data || exportData.body || '');\n\n// Build doc metadata\nconst fileName = trigger.name || 'Untitled Meeting';\nconst now = new Date();\nconst isoDate = now.toISOString().split('T')[0];\nconst displayDate = now.toLocaleDateString('en-US', {\n  weekday: 'long',\n  year: 'numeric',\n  month: 'long',\n  day: 'numeric'\n});\n\nconst docName = `Daily Standup and Checkin \\u2014 ${isoDate}`;\n\n// Format content as markdown\nconst content = [\n  `# ${docName}`,\n  '',\n  `**Source:** ${fileName}`,\n  `**Date:** ${displayDate}`,\n  '',\n  '---',\n  '',\n  textContent\n].join('\\n');\n\nreturn [{\n  json: {\n    payload: {\n      name: docName,\n      description: `Standup notes from Google Meet (${isoDate})`,\n      content: content,\n      parent: {\n        id: '90176857901',\n        type: 5\n      }\n    }\n  }\n}];\n"
      },
      "name": "Format for ClickUp",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        592,
        -16
      ],
      "id": "bdd234e8-6a2a-457a-abb4-b52d60cfe4cf"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.clickup.com/api/v3/workspaces/9017833757/docs",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.payload) }}",
        "options": {}
      },
      "name": "Create ClickUp Doc",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        800,
        -16
      ],
      "id": "6f7bd1e7-18e3-43af-b49f-8f7c32007e56",
      "credentials": {
        "httpHeaderAuth": {
          "id": "ju5QMIyIYhk1qUcc",
          "name": "ClickUp API"
        }
      }
    }
  ],
  "connections": {
    "Watch Meet Notes Folder": {
      "main": [
        [
          {
            "node": "Is Standup Doc?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Export Doc as Text": {
      "main": [
        [
          {
            "node": "Format for ClickUp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format for ClickUp": {
      "main": [
        [
          {
            "node": "Create ClickUp Doc",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Standup Doc?": {
      "main": [
        [
          {
            "node": "Export Doc as Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}