workflows/meet-standup-to-clickup.json
{
  "name": "Google Meet Standup \u2192 ClickUp Docs",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 1
            }
          ]
        }
      },
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -300,
        0
      ],
      "id": "f0a1b2c3-1001-4a00-b000-000000000001"
    },
    {
      "parameters": {
        "url": "https://www.googleapis.com/drive/v3/files",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleDriveOAuth2Api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "q",
              "value": "'1OFRQrDFm1buSwdh2IX_YbkWAaWfge4bk' in parents AND mimeType='application/vnd.google-apps.document' AND name contains 'Daily Standup and Checkin' AND trashed=false"
            },
            {
              "name": "fields",
              "value": "files(id,name,createdTime)"
            },
            {
              "name": "pageSize",
              "value": "1000"
            }
          ]
        },
        "options": {}
      },
      "name": "List Drive Docs",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -60,
        0
      ],
      "id": "f0a1b2c3-1002-4a00-b000-000000000002",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "DcyYgvJSe1pXI1dw",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "url": "https://api.clickup.com/api/v3/workspaces/9017833757/docs",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "parent.id",
              "value": "90173963039"
            },
            {
              "name": "parent.type",
              "value": "5"
            }
          ]
        },
        "options": {}
      },
      "name": "List ClickUp Docs",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        180,
        0
      ],
      "id": "f0a1b2c3-1003-4a00-b000-000000000003",
      "credentials": {
        "httpHeaderAuth": {
          "id": "ju5QMIyIYhk1qUcc",
          "name": "ClickUp API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Get all matching Google Docs from Drive\nconst driveResponse = $('List Drive Docs').first().json;\nconst driveFiles = driveResponse.files || [];\n\n// Get existing ClickUp Docs\nconst clickupResponse = $('List ClickUp Docs').first().json;\nconst clickupDocs = clickupResponse.docs || [];\n\n// Build set of existing ClickUp doc names for O(1) lookup\nconst existingNames = new Set(clickupDocs.map(d => d.name));\n\n// Find Drive docs whose expected ClickUp name doesn't exist yet\nconst missing = [];\nfor (const file of driveFiles) {\n  const created = new Date(file.createdTime);\n  const isoDate = created.toISOString().split('T')[0];\n  const expectedName = `Daily Standup and Checkin \\u2014 ${isoDate}`;\n\n  if (!existingNames.has(expectedName)) {\n    missing.push({\n      json: {\n        id: file.id,\n        name: file.name,\n        createdTime: file.createdTime,\n        expectedName: expectedName\n      }\n    });\n  }\n}\n\nreturn missing;\n"
      },
      "name": "Find Missing Docs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        420,
        0
      ],
      "id": "f0a1b2c3-1004-4a00-b000-000000000004"
    },
    {
      "parameters": {
        "url": "=https://www.googleapis.com/drive/v3/files/{{ $json.id }}/export?mimeType=text%2Fplain",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleDriveOAuth2Api",
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          },
          "batching": {
            "batch": {
              "batchSize": 1,
              "batchInterval": 1000
            }
          }
        }
      },
      "name": "Export Doc as Text",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        660,
        0
      ],
      "id": "f0a1b2c3-1005-4a00-b000-000000000005",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "DcyYgvJSe1pXI1dw",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst driveItems = $('Find Missing Docs').all();\n\nconst results = [];\nfor (let i = 0; i < items.length; i++) {\n  const exportData = items[i].json;\n  const driveItem = driveItems[i].json;\n\n  // Extract plain text from export response\n  const textContent = typeof exportData === 'string'\n    ? exportData\n    : (exportData.data || exportData.body || '');\n\n  // Use createdTime from Drive (not 'now') for historical accuracy\n  const created = new Date(driveItem.createdTime);\n  const isoDate = created.toISOString().split('T')[0];\n  const displayDate = created.toLocaleDateString('en-US', {\n    weekday: 'long',\n    year: 'numeric',\n    month: 'long',\n    day: 'numeric'\n  });\n\n  const docName = driveItem.expectedName;\n\n  const content = [\n    `# ${docName}`,\n    '',\n    `**Source:** ${driveItem.name}`,\n    `**Date:** ${displayDate}`,\n    '',\n    '---',\n    '',\n    textContent\n  ].join('\\n');\n\n  results.push({\n    json: {\n      payload: {\n        name: docName,\n        description: `Standup notes from Google Meet (${isoDate})`,\n        content: content,\n        parent: {\n          id: '90173963039',\n          type: 5\n        }\n      }\n    }\n  });\n}\n\nreturn results;\n"
      },
      "name": "Format for ClickUp",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        900,
        0
      ],
      "id": "f0a1b2c3-1006-4a00-b000-000000000006"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.clickup.com/api/v3/workspaces/9017833757/docs",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.payload) }}",
        "options": {
          "batching": {
            "batch": {
              "batchSize": 1,
              "batchInterval": 1000
            }
          }
        }
      },
      "name": "Create ClickUp Doc",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1140,
        0
      ],
      "id": "f0a1b2c3-1007-4a00-b000-000000000007",
      "credentials": {
        "httpHeaderAuth": {
          "id": "ju5QMIyIYhk1qUcc",
          "name": "ClickUp API"
        }
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "List Drive Docs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List Drive Docs": {
      "main": [
        [
          {
            "node": "List ClickUp Docs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List ClickUp Docs": {
      "main": [
        [
          {
            "node": "Find Missing Docs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Missing Docs": {
      "main": [
        [
          {
            "node": "Export Doc as Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Export Doc as Text": {
      "main": [
        [
          {
            "node": "Format for ClickUp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format for ClickUp": {
      "main": [
        [
          {
            "node": "Create ClickUp Doc",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
